<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SE_project_meow</title>
<style>
a:link, a:visited{
  background-color: #f9c3cd;
  color: #0c0c0c;
  padding:16px 25px;
  text-align: center;
  display: inline-block;
  border:2px solid #ccc;
}
a:hover, a:active{
  background-color: #b481bb;
  border:2px solid #0c0c0c;

}
</style>
</head>
<body style="background:url("/static/images/jellyfish.jpg")">


    <h2><a href="https://github.com/jack870601/SE_project_meow">
       https://github.com/jack870601/SE_project_meow
    </a></h2>
    <h1 style="text-align: center">
        測試測試測試測試
    </h1>
    <h1 style="text-align: center">
      歡迎來到台科約跑網！
    </h1>
    <h1 style="text-align: center;color:#f17666">
      點擊下方連結進入網站。。。
    </h1>
    <h1 style="text-align: center">
      歡迎來到台科約跑網！
    </h1>
    <h1 style="text-align: center;color:#f17666">
      點擊下方連結進入網站。。。
    </h1>
    <pre style="text-align: center">
        
      (*´▽｀)ノノ 
      (*´▽｀)ノノ  
      (*´▽｀)ノノ  
      (*´▽｀)ノノ   
      (*´▽｀)ノノ  
      (*´▽｀)ノノ  
      <a href="home" title="來約跑吧！！">進入網站</a>


    </pre>

</body>
</html>